/* variables */
:root{
  /* colores, fuentes, tamaños */
  /* --nombreVariable: valor; */
  /* para utilizar:
    var(--nombreVariable)
  */
  --primary-color: #1db954;
  --secondary-color-01: #000000;
  --secondary-color-02: #191414;
  --secondary-color-03: #505050;
  --secondary-color-04: #ffffff;

  --genre-color01: #55a891;
  --genre-color02: #27856a;
  --genre-color03: #5f8109;
  --genre-color04: #5e073b;
  --genre-color05: #f037a5;
  --genre-color06: #af2896;
  --genre-color07: #af2896;
  --genre-color08: #477d95;
  --genre-color09: #509bf5;
  --genre-color10: #1d3164;
  --genre-color11: #e8115b;
  --genre-color12: #e13300;
  --genre-color013: #ba5d07;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  border:1px solid gray;
}

body {
  background-color: var(--secondary-color-01);
  color: var(--secondary-color-04);
  font-family: "Outfit", Arial, sans-serif;
}

main {
  padding: 24px 16px;
  background-color: var(--secondary-color-02);
  border-radius: 20px;
  margin:10px;
}

.explore-all-title {
  margin-bottom: 20px;
}

.explore-all-boxes {
  display: grid;
  gap:20px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.explore-all-box {
  padding:20px;
  border-radius: 10px;
  height: 250px;
  background-color: gray;
  position: relative;
  overflow: hidden;
}

.box-genre-img {
  width: 180px;
  position: absolute;
  top:75px;
  /* left: 200px; */
  right: -40px;
  transform: rotate(25deg);
}
