* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

header {
  padding:20px;
  font-family: Arial;
  font-size:18px;
  color:red;
}

main {
  font-size: 1rem;
}

p {
  padding: 0.9em;
  /* em es el valor mas cercano */
  /* rem es el valor mas lejano, del html */
  font-size: 0.75em;
}
span{
  font-size:32px;
}

/* @media <medio-dispositivo> and (condicional) {
  selectores {
    ...y demás propiedades de css para aplicar
  }
} */

@media screen and (width >= 992px) {
  header {
    color: blue;
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }
}

@media screen and (width <= 400px) {
  header {
    color: green;
    font-size: 16px;
  }
}